[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/jellybeans.vim"]
	path = vim/bundle/jellybeans.vim
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule "vim/bundle/vim-projectionist"]
	path = vim/bundle/vim-projectionist
	url = git://github.com/tpope/vim-projectionist.git
[submodule "oh-my-zsh-custom/themes/powerlevel9k"]
	path = oh-my-zsh-custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
