# Immediate function
snippet (f
(function(${2}) {
	${1}
}(${3}));
endsnippet

# console.log
snippet con "console.log" b
console.log('${1}');
endsnippet

# angular log statements
snippet deb "$log.debug" b
$log.debug('${1}');
endsnippet

snippet info "$log.info" b
$log.info('${1}');
endsnippet

snippet err "$log.error" b
$log.error('${1}');
endsnippet
